body p{
	font-family: 'Quicksand'!important;
}
body {
	background-color: #363b4e;
}

.side-nav {
	font-family: 'Sen';
}

.body-container {
  margin-left: 300px;	
}
.body-components-container {
	padding: 10px 35px 10px 35px;
}
nav {
	box-shadow: none;
}
nav a{
	border-radius: 25px;
	font-family: "Quicksand"
}
.page-title {
	font-family: 'Sen Regular';
}
.index-logo {
	font-family: 'Tw Cen MT';
}
.cover {
  background-image: url(/images/rent-gf-svg.svg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 76%;
}
.index-nav {
	background-color: #ffffff00;
	color: black;
	padding-top:25px;
	margin-bottom: 100px;
}
.message-container {
	position: sticky;
    width: 100%;
    bottom: 0%;
	text-align: -webkit-right!important;
}
.message {
	padding:7px;
	margin:5px;
	border-radius: 10px;
	font-family: 'Quicksand';
	text-align: justify;
	/* text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; */
}
.message-profile {
	width: 30px;
	border-radius:30px;
}
.coversation-container {
	padding:10px 10px 1px 10px!important;
}
.sender {
	text-align: right;
	padding-left:50px;
}
.reciever {
	text-align: left!important;
	padding-right:50px;
}
.max-width {
	width:100%;
}
.get-started-container {
	position: relative;
	margin-bottom: 250px;
}
.get-started-container a {
	border-radius: 30px;
	width: 70%;
}
.dummy-text-container {
	position: relative;
	margin-bottom: 150px;
}
.index-footer {
	position: relative;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 45px!important;
}
.image-activator {
	height: 50%;
}

.profile-header {
	margin-top: 10px;
	background-color: white;
	padding: 20px!important;
	border-radius: 5px;
}

.profile-details {
	font-family: 'Sen Regular';
}

.collapsible-header {
	padding-left: 30px!important;
}
.header-font {
	font-family: 'HP Simplified';
	margin: 20px 0px 20px 20px !important;
}
.materialize-textarea {
	text-align: justify;
}
.edit-image-container img {
	max-width: 30%;
	border-radius: 30px;
}
.rent-card {
	box-shadow: 0 0 3px 0px #b9b9b9!important;
	text-align: center;
}
.rent-card .card-content {
	padding: 0px!important;
}
.rent-card img {
	width: 100%;
}
.rent-card-title {
	font-size: 15px!important;
	margin:5px 0 0 0;
	font-family: 'Quicksand'!important;
}
.view-rent-btn {
	width: 100%!important;
}
.form-container {
	margin-top: 50px;
}
.hidden {
	display: none;
}
.tabs .tab a:hover {
  color: #656565;
}
.tabs .tab a, .tabs .tab a.active {
	color: #000
}
.modal {
	width: 100%!important;
	height: 100%!important;
	max-height: 100%!important;
	top: 0!important;
}
.searched-card .card .card-action {
	padding: 0px!important;
}
.read a {
	text-decoration: line-through;
}
.collection .collection-item.active {
    background-color: #eaeaea;
    color: #eafaf9;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #696969;
}


@media (max-width: 992px) { 
	.body-container {
	  margin-left: 0px!important;	
	}
}