body p{
	font-family: 'Quicksand'!important;
}
body {
	background-color: #363b4e;
}
.body-container {
  margin-left: 300px;	
}
.body-components-container {
	padding: 10px 35px 10px 35px;
}
nav {
	box-shadow: none;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 45px!important;
}
.image-activator {
	height: 50%;
}
.profile-image-container {
	padding: 10px;
	margin-bottom: 20px;
}
.profile-image-container img {
	width: 100%;
	border-radius: 10px;
}
.profile-image-collection {
	padding: 0px!important;
}
.profile-bio {
	font-family: 'Ebrima';
	text-align: justify;
}
.profile-tag {
	margin-top: 0px;
}
.profile-images-container {
	margin-top: 20px;
}
.profile-images-container img {
	width: 100%;
}
.profile-header {
	font-family: 'Roboto'
}
.change-profile-btn {
	width: 100%!important;
	margin: 5px;
	border-radius: 10px;
}
.collapsible-header {
	padding-left: 30px!important;
}
.header-font {
	font-family: 'HP Simplified';
	margin: 20px 0px 20px 20px !important;
}
.materialize-textarea {
	text-align: justify;
}
.edit-image-container img {
	max-width: 30%;
	border-radius: 30px;
}
.rent-card {
	box-shadow: 0 0 3px 0px #b9b9b9!important;
	text-align: center;
}
.rent-card .card-content {
	padding: 0px!important;
}
.rent-card img {
	width: 100%;
}
.rent-card-title {
	font-size: 15px!important;
	margin:5px 0 0 0;
	font-family: 'Quicksand'!important;
}
.view-rent-btn {
	width: 100%!important;
}
.form-container {
	margin-top: 50px;
}
.hidden {
	display: none;
}
.tabs .tab a:hover {
  color: #656565;
}
.tabs .tab a, .tabs .tab a.active {
	color: #000
}
.modal {
	width: 100%!important;
	height: 100%!important;
	max-height: 100%!important;
	top: 0!important;
}
.searched-card .card .card-action {
	padding: 0px!important;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: #afa7a7  ;
  transition: .5s;
}

@media (max-width: 992px) { 
	.body-container {
	  margin-left: 0px!important;	
	}
}